.about {
    height: 660px;
    text-align: center;
    width: 500px;
    text-align: start;
}

.agreement {
    height: 660px;
    text-align: center;
}

.developer {
    height: 660px;
    text-align: center;
}


#logotype {
    cursor: pointer;
    width: 40px;
    height: 40px;display: inline-block;
    transition: transform 0.3s;
}

#logotype:hover {
    transform: scale(1.1);
}

.header {
    padding: 3px 0px 15px 0px;
    backdrop-filter: blur(6px);
    z-index: 666;
    height: 80px;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.03);
}

.header__top {
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuButton {
    margin-right: auto;
}

.header__nav-list {
    margin-left: 160px;
    display: flex;
}

.header__nav-item {
    margin-right: 20px;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-link {
    color: #f84682;
    white-space: nowrap;
    display: inline-block;
    transition: transform 0.3s, color 0.5s 0.2s;
}

.header__nav-link:hover {
    color: white;
    transform: scale(1.1);
    cursor: pointer;
}

.button .download_button {
    display: inline-block;
    height: 36px;
    line-height: 50%;

    padding: 13px 20px;
    font-size: 14px;
    color: #ffffff;
    background-color: #ffffff00;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    transition: border 0.3s 0.2s, transform 0.3s;
    /* text-align: center; */
}

.button {
    cursor: pointer;
}

.button .download_button:hover {
    border: 1px solid #f84682;
    transform: scale(1.1);
}

.header__burger {
    display: none;
}

@media (max-width: 767px) {
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }
    .header__burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px
    }
    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
    .menuButton {
        display: none;
    }
    .Mainbutton {
        display: none;
    }
}