@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');


* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16;
    z-index: 1;
    scroll-behavior: smooth;
    cursor: default;
}


body,
canvas {
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.wrapper {
    min-height: 100%;
    width: 100%;
}


.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
}

.main-block {
    max-width: 1260px;
    word-wrap: break-word;
    position: fixed;
    color: white;
    margin-top: 120px;
    transition: all 0.4s;
}

.blocks {
    position: absolute;
    overflow: hidden;
    height: 660px;
    display: block;
    width: 1260px;
    top: -10px;
}

/* CONTENT */

.tn {
    position: absolute;
    font-family: 'Fira Sans';
    font-weight: 500;
    left: 61px;
    color: #f84682;
    width: 600px;
    font-size: 64px;
    text-align: center;
}


.about-text {
    position: absolute;
    width: 700px;
    left: 54px;
    top: 169px;
    font-size: 16px;
}

.about .highlight {
    color: #f84682;
  }

.about {
    float: left;
}




.about-main-text {
    position: absolute;
    width: 500px;
    text-align: center;
    font-size: 17px;
    top: 233px;
    left: 104px;
}



.buttonmain {
    position: absolute;
    width: 500px;
    top: 398px;
    left: 321px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(169, 169, 169, 0);
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    box-shadow: inset 0 0 6px #f8468173
}




.button2 .download_button2 {
    display: inline-block;
    height: 36px;
    line-height: 50%;
    padding: 13px 20px;
    font-size: 14px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.124);
    backdrop-filter: blur(3px);
    border: 0;
    border-radius: 6px;
    transform: scale(1.3);
    cursor: pointer;
    transition: border 0.3s 0.2s, transform 0.3s, background-color 0.5s;
}

.button2 {
    cursor: pointer;
}

.button2 .download_button2:hover {
    border: 1px solid #f84682;
    background-color: rgba(255, 255, 255, 0.064);
    transform: scale(1.4);
}






.image-content {
    position: absolute;
    left: 54px;
}






.autho-image {
    position: absolute;
    top: 10px;
    left: 660px;
    z-index: 41;
    float: left;
    margin-top: 0;
    width: 400px;
    height: 331.13px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.322);
}

.register-image {
    position: absolute;
    top: 150px;
    left: 760px;
    z-index: 40;
    float: left;
    margin-top: 0;
    width: 400px;
    height: 331.13px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.322);
}


@media (max-width: 1222px) {
    .about {
        position: absolute;
        width: 1000px;
        overflow: scroll;
        left: -47px;
    }
    .main-block {
        bottom: 0;
        top: -5px;
        left: 238px;
    }
    .blocks {
        display: block;
        /* overflow: scroll; */
        position: absolute;
        height: 1000px;
    }

    .image-content {
        position: absolute;
        left: -552px;
        top: 470px;
    }
}

@media (max-width: 823px) {
    .about {
        left: -47px;
    }
    .blocks {
        left: -116px;
    }
    .tn {
        left: 4px;
    }
    .about-text {
        left: 27px;
    }
    .about-main-text {
        left: 52px;
    }
    .buttonmain {
        left: 260px;
    }
}

@media (max-width: 687px) {
    .blocks {
        left: -133px;
    }
    .tn {
        left: 2px;
        font-size: 32px;
    }
    .about-text {
        width: 500px;
        text-align: center;
        left: 52px;
        top: 60px;
    }
    .about-main-text {
        left: 46px;
        top: 111px;
    }
    .buttonmain {
        top: 230px;
        left: 260px;
    }
    .image-content {
        left: -604px;
        top: 314px;
    }
}

@media (max-width: 607px) {
    .blocks {
        left: -150px;
    }
    .tn {
        left: -31px;
        font-size: 28px;
    }
    .about-text {
        width: 376px;
        left: 76px;
        top: 49px;
    }
    .about-main-text {
        left: 52px;
        top: 104px;
        width: 440px;
    }
    .buttonmain {
        left: 228px;
    }
    .image-content {
        left: -527px;
        scale: 0.9;
    }
}

@media (max-width: 557px) {
    .blocks {
        left: -153px;
    }
    .tn {
        left: -56px;
        font-size: 18px;
    }
    .about-text {
        width: 306px;
        left: 91px;
        top: 30px;
    }
    .about-main-text {
        left: 92px;
        top: 96px;
        width: 300px;
    }
    .buttonmain {
        left: 204px;
        top: 271px;
    }
    .image-content {
        left: -287px;
        top: 349px;
        scale: 0.6;
    }
}


@media (max-width: 487px) {
    .blocks {
        left: -166px;
    }    
    .tn {
        left: -101px;
    }
    .about-text {
        left: 43px;
    }
    .about-main-text {
        left: 50px;
    }
    .buttonmain {
        left: 146px;
    }
    .image-content {
        left: -340px;
    }
}

@media (max-width: 376px) {
    .blocks {
        left: -177px;
    }
    .tn {
        left: -135px;
        font-size: 16px;
    }
    .about-text {
        left: 12px;
        font-size: 14px;
    }
    .about-main-text {
        left: 16px;
        font-size: 14px;
        top: 76px;
    }
    .buttonmain {
        left: 78px;
        top: 207px;
        scale: 0.8;
    }
    .image-content {
        left: -187px;
        top: 248px;
        scale: 0.4;
    }
}

@media (max-width: 325px) {
    .blocks {
        left: -196px;
    }
    .tn {
        left: -144px;
    }
    .about-text {
        left: -6px;
    }
    .about-main-text {
        left: 3px;
    }
    .buttonmain {
        left: 65px;
    }
    .image-content {
        left: -194px;
    }
}