<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">

        <script src="/static/script/preloader.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/preloader.css') }}">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/reset.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/header.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main.css') }}">

        <script src="/static/script/background.js" defer></script>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&family=Lato:wght@400;700&family=Roboto+Condensed&family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">

        <link rel="icon" href="/static/assets/icon.png" type="image/x-icon">

        <title>КлиникБук</title>
    </head>
    <body>

        <div id="page-preloader" class="preloader">
            <div class="loader"></div>
        </div>

          <div class="canvas">
            <div class="wrapper">
                <header>
                    <div class="header">
                        <div class="container">
                            <div class="header__top">
                                <div class="logotype">
                                    <a href="http://192.168.0.104:3040/">
                                        <img id="logotype" src="/static/assets/icon.png" alt="logotype">
                                    </a>
                                </div>
                                
                                <nav class="menuButton">
                                    <ul class="header__nav-list">
                                        <li class="header__nav-item">
                                            <a href="http://192.168.0.104:3040/" class="header__nav-link">О нас</a>
                                        </li>
                                        <li class="header__nav-item">
                                            <a href="http://192.168.0.104:3040/assets" class="header__nav-link">Соглашение</a>
                                        </li>
                                        <li class="header__nav-item">
                                            <a href="https://github.com/AsQqqq/" class="header__nav-link" target="_blank">Разработчик</a>
                                        </li>
                                    </ul>
                                </nav>

                                <div class="Mainbutton">
                                    <div id="container">
                                        <form id="downloadButton">
                                            <div class="button">
                                                <input class="download_button" type="submit" value="Скачать">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="header__body">
                                    <div class="header_min"></div>
                                    <div class="header__burger">
                                        <span></span>
                                    </div>
                                    <nav class="header__menu">
                                        <ul class="header__list">
                                            <li>
                                                <a href="http://192.168.0.104:3040/" class="header__link">О нас</a>
                                                <a href="http://192.168.0.104:3040/assets" class="header__link">Соглашение</a>
                                                <a href="https://github.com/AsQqqq/" class="header__link" target="_blank">Разработчик</a>
                                                <a href="https://github.com/ppizarror/pygame-menu/releases/download/4.4.3/pygame-menu-4.4.3.tar.gz" class="header__link">Скачать</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="container">
                    <div class="main-block">
                        <div class="blocks">
                            <div class="about" id="about">
                                <h1 class="tn">
                                    Запись на приём без очередей
                                </h1>

                                <div class="image-content">
                                    <img class="autho-image" src="/static/assets/autho.png" alt="imageUi1">
                                    <img class="register-image" src="/static/assets/register.png" alt="imageUi2">
                                </div>

                                <p class="about-text">Устали от <span class="highlight">бесконечных</span> очередей и <span class="highlight">многочасового</span> ожидания в поликлиниках?</p>
                                <p class="about-main-text">Скачайте нашу программу "<span class="highlight">КлиникБук</span>" и откройте для себя мир безграничных возможностей. Это просто — введите свои данные, выберите удобную вам дату и время, и ваши предпочтения будут учтены. Забудьте о потерянном времени в ожидании, вы будете уверены в своей записи.</p>
                                
                                <div class="buttonmain">
                                    <form id="downloadButton">
                                        <div class="button2">
                                            <input class="download_button2" type="submit" value="Скачать">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="/static/script/header.js" defer></script>
    <script src="/static/script/download.js" defer></script>
    </body>
</html>